@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  background-color: rgb(221, 221, 221);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: rgb(241, 236, 236);
}

li {
  float: right;
}

li a {
  font-family: Arial Bold, Helvetica, sans-serif;
  font-size: 1vw;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(172, 172, 172);
}

.logo {
  float: left;
  padding: 5px;
}

.carousel-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.home-carousel {
  display: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}


.carousel-container img {
  display: inline;
  float: none;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.carousel-text {
  font-family: "Source Code Pro", monospace, Arial;
  font-weight: bolder;
  font-size: 2vw;
  text-align: center;
  padding: 5px;
}

.home-div1 {
  display: block;
  float: left;
  width: 30%;
  margin-left: 10%;
}

.home-div2 {
  display: block;
  float: right;
  width: 30%;
  margin-right: 10%;
}

footer {
  font-size: 1vw;
  width: 100%;
  margin-top: 300px;
}

.stamp {
  float: left;
  padding-right: 60%;
}

.social {
  float: right;
}

.about-head-1 {
  float: left;
  width: 40%;
  margin-left: 5%;
}

.about-head-2 {
  float: right;
  width: 40%;
  margin-right: 5%;
  margin-top: 20%;
}

.about-head-3 {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-top: 20%;
}

input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 3%;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 3%;
  margin-top: 1%;
}

.contact-input1 .contact-label1{
  grid-column: 1;
}

.contact-input2 .contact-label2{
  grid-column: 1;
}

.contact-input3 .contact-textbox1{
  grid-column: 1;
}

textarea {
  resize: none;
  padding-bottom: 3%;
}
.contact-button {
  grid-row: 7;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 2%;
}

#feedback {
  display: none;
  border: 1px solid rgb(138, 241, 98);
  border-radius: 1em;
  text-align: center;
  width: 50%;
  margin: 5px auto;
  padding: 4px;
}

@media screen and (max-width: 800px) {
  .home-div1, .home-div2 {
    width:100%;
    margin: auto;
  }

  .about-head-1, .about-head-2, .about-head-3 {
    width: 100%;
    margin: auto;
  }

  li {
    width: 100%;
  }

  li a {
    font-size: 2vw;
  }

  .logo {
    margin-left: 19%;
  }

  .contact-button {
    padding: 3px;
  }

}
