body {
    background-color: #1C5D99;
    font-family: 'Times New Roman', 'Georgia', 'Arial';
    font-size: 16px;
    max-width: 960px;
    margin:auto;
    text-align: center;
}

header {
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 125px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.heading h1 {
	font-size: 2rem;
	color: #C2CAE8;
	margin: 0;
}

.motto {
	font-style: italic;
	color: #8789C0;
	font-size: 1rem;
	letter-spacing: 1.5pt;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    background-color: #C2CAE8;
    color: #53A2BE;
    padding: 50px;
    line-height: 1.6;
}

h1, h2 {
    color: rgb(255, 140, 40);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C2CAE8;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #1C5D99;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #8789C0;
  }

  .social a {
    padding: 16px;
  }

